WebyWebeditor/Database(fireworks)/Service References/ServiceReference1/DemoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Database_fireworks_.Web" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Database_fireworks_.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50065/DemoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOftable_signup1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="table_signup1" nillable="true" type="tns:table_signup1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftable_signup1" nillable="true" type="tns:ArrayOftable_signup1" />
  <xs:complexType name="table_signup1">
    <xs:sequence>
      <xs:element minOccurs="0" name="user_id" type="ser:guid" />
      <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date_of_birth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primary_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="alternate_email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="table_signup1" nillable="true" type="tns:table_signup1" />
  <xs:complexType name="ArrayOfserverdb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="serverdb" nillable="true" type="tns:serverdb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfserverdb" nillable="true" type="tns:ArrayOfserverdb" />
  <xs:complexType name="serverdb">
    <xs:sequence>
      <xs:element minOccurs="0" name="uid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="richtext" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="serverdb" nillable="true" type="tns:serverdb" />
</xs:schema>